/* --Google fonts import-- */
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Css Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #416a8e; /* Blue */
    --secondary-color: #aa9581; /*light brown */
    --highlight-color: #41698e; /* Blue */
    --highlight-color-light: #799fc2; /* light blue */

}

/* Global Styles */

body {
    font-family: var(--primary-font);
    
}

h1, h2, h3 {   font-family: var(--secondary-font);
    color: var(--primary-color);
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* Grid visualisation css for testing */










